<h1> Choose a movie to add </h1>

<ol>
	<% @results.each do |movie| %>
		<li>
			<%= link_to movie[:title], :controller=>"movies", :action=>"add", :id=>movie[:id] %>
		</li>
	<% end %>
	<br>
	<li><%= link_to 'None of these', '/movies/search' %></li>
</ol>