<h1> Search </h1>

<% form_tag '/movies/results', :method => 'get' do %>
  <p>
		Title:<br>
    <%= text_field_tag :title, params[:title], :size => 35 %><br><br>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= link_to 'Back', movies_path %>
